[Desktop Entry]
Name=Setup Your Encrypted Private Directory
GenericName=Setup Your Encrypted Private Directory
Exec=/usr/bin/ecryptfs-setup-private
Terminal=true
Type=Application
Categories=Settings;Security;
